<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>



<div class="container">
  <h1>4K</h1>
  <input type="text" class="from-control bg-dark text-light border-0 my-4 text-center roundrd-0"
  (keyup)="searchCoin()"
  [(ngModel)] = "searchText"
   />
  <div class="row">
    <div class="col">
      <table class="table table-dark table-striped">
        <thead>
          <tr >
            <th *ngFor="let title of titles">
              {{title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of filterdCoins; let i = index">
            <td class="text-muted">{{i + 1}}</td>
            <td>
              <img [src]="coin.image" alt="{{coin.name}}" style="width: 1.5rem;">
              <span>
                {{coin.name}}
              </span>
              <span class="text-muted text-uppercase ms-2">
                {{coin.symbol}}
              </span>
            </td>
            <td>${{coin.current_price.toLocaleString()}}</td>
            <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">{{coin.price_change_percentage_24h.toLocaleString()}}</td>
            <td>{{coin.total_volume.toLocaleString()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
